html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

/* Header and Nav Section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid lightgray;
}

header img {
  height: 150px;
  width: auto;
}

nav {
  padding-right: 20px;
}

li {
  display: inline-block;
  padding-left: 15px;
}

nav a {
  color: rgb(34, 36, 34);
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: rgb(9, 226, 9);
}

/* Main Section */
main {
  width: 1200px;
  margin: 0 auto;
}

/* Banner Section */

section.banner {
  width: 100%;
  height: 600px;
  margin-top: 20px;
  background-image: url("./img/business-team.jpg");
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.banner-content {
  padding: 20px 30px;
  background-color: white;
  margin-top: 50px;
  margin-left: 30px;
  opacity: 0.8;
}

.banner-content h2 {
  font-size: 32px;
  color: rgb(34, 36, 34);
  margin-bottom: 3px;
  text-decoration-line: underline;
  text-decoration-thickness: 8%;
}

.banner-content p {
  font-size: 18px;
  color: rgb(34, 36, 34);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  opacity: 0.8;
}

/* Product Section */

.product {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  justify-content: space-between;
  align-items: stretch;
}

.col-1 {
  display: flex;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  padding: 30px;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.col-1 .img-container {
  height: 250px;
  width: 100%;
  background-image: url("./img/phone-img.jpg");
  background-size: cover;
  background-position: center;
}

.col-1 h2 {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgb(34, 36, 34);
}

.col-2 {
  width: 50%;
  background-color: rgb(243, 243, 243);
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.col-2 h2 {
  margin-top: 30px;
  font-size: 32px;
  margin-bottom: 10px;
}

.col-2 p {
  font-size: 18px;
  line-height: 1.2em;
}


/* Testimonial Section */

.test-cards {
    
}